.container{

    flex-direction: row;
    display: flex;
    gap: 77px;

}

.logo1{
    width: 170px;
    height: auto;
    margin-top: 12px;
    margin-left: 183px;
}
.logo2{
    width: 450px;
    height: auto;
    margin-top: 7px;
    
}
